.videos {
  flex: 1;
  height: 100%;

  &-header {
    padding: 10px 40px;

    &--title {
      padding-bottom: 24px;
      font-size: 24px;
      font-weight: 500;
    }

    &--subtitle {
      font-size: 18px;
    }
  }
}
